body
{
    background-color: #242424;
    margin: 60px auto;
    width: 80%;
	/*background-image: url("/images/chalkboards.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}

nav ul, footer ul
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li
{
    display: inline;
    margin-right: 20px;
}

a
{
    text-decoration: none;
    color: #796e24;
}

a:hover
{
    text-decoration: underline;
}

h1
{
    font-size: 2.25em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #e8ce99
}

h2
{
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #e8ce99
}

h3
{
    font-size: 1.75em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #e8ce99
}

h4
{
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #e8ce99
}

p
{
    font-size: 1.25em;
    line-height: 1.25em;
    color: #fff; /*#e8ce99; */
	font-family: 'Verdana', 'Arial', 'Sans-Serif'
}

footer
{
    /*border-top: 1px solid #44200B; /*#d5d5d5; */
    font-size: 1em;
}

ul
{
    font-size: 1.25em;
    color: #efefef
}

ul.posts
{
    margin: 20px auto 40px; 
    font-size: 1.25em;
}

ul.posts li
{
    list-style: none;
}

/** Tree content shenanigans **/
/* remove default bullets
ul, #contentTree
{
	list-style-type: none;
}

/* Remove margins and padding from parent ul
#contentTree
{
	margin: 0;
	padding: 0;
}

.caret
{
	cursor: pointer;
	user-select: none; /* prevent text selection 
}

.caret::before
{
	content: "\25B6";
	color: white;
	display: inline-block;
	margin-right: 6px;
}

.caret-down::before
{
	transform: rotate(90deg);
}

.nested
{
	display: none;
	/*max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.active
{
	display: block;
}*/

/* Style button to open and close collapsible */
.collapsible
{
	background-color: #242424;
	color: #efefef;
	cursor: pointer;
	padding: .5em;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1.25em;
	font-family: 'Verdana', 'Arial', 'Sans-Serif'
}

.collapsible:before
{
	content: "\2795";
	font-size: 13px;
	color: white;
	float: left;
	margin-left: 5px;
}

.active:before
{
	content: "\2796";
}

/* add background colour to collapsible button on hover */
/*.active, .collapsible:hover
{
    background-color: #6e6e6e;
}
*/
/* Style collapsible content. */
.content
{
  padding: 0 0.5em;
  background-color: #242424;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-famly: 'Verdana', 'Arial', 'Sans-Serif'
}
