---
---

@import "{{ site.theme }}";
.container
{
	width: 90%;
	max-width: none;
	margin: 0 auto;
}

nav ul, footer ul
{
    //font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-left: 13%;
    //list-style: none;
    //font-weight: bold;
}
nav ul li, footer ul li
{
    display: inline;
    margin-right: 10%; // spacing between items
}

/* Style button to open and close collapsible */
.collapsible
{
	background-color: #1a1a1a;
	color: #efefef;
	cursor: pointer;
	padding-bottom: 1em;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1.25em;
	font-family: 'Verdana', 'Arial', 'Sans-Serif'
}

.collapsible:before
{
	content: "\2795";
	font-size: 13px;
	color: white;
	float: left;
	margin-left: 5px;
}

.active:before
{
	content: "\2796";
}

/* add background colour to collapsible button on hover */
/*.active, .collapsible:hover
{
    background-color: #6e6e6e;
}
*/
/* Style collapsible content. */
.content
{
  padding: 0 0.5em;
  background-color: #151515;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-famly: 'Verdana', 'Arial', 'Sans-Serif'
}

/* Style tab links */
.tablink
{
	background-color: #333333;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 33%;
	border-radius: 0.5em 0.5em 0 0; /*TL TR BR BL */
}

.tablink:hover
{
	background-color: #4d4d4d;
}

.tabcontent
{
	display: none;
	padding: 100px 20px;
	height: 100%;
}
