<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title}}</title>
    <!-- link to main style sheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  
  <body>
    <nav>
      <ul>
        <li><a href="mailto:quinn.thorsnes@gmail.com">Email</a></li>
        <li><a href="https://github.com/sionth">Github</a></li>
      </ul>
      <ul>
        <li><a href="/">Home</a></li>
        <!--<li><a href="/cv">CV</a></li>-->
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    <!--<footer>
      
    </footer> -->
  </body>
  
  <script>
	/*var carets = document.getElementsByClassName("caret");
	var car;
	
	for(car = 0; car < carets.length; car++)
	{
		carets[car].addEventsListener("click", function()
		{
			this.parentElement.querySelector(".nested").classList.toggle("active");
			this.classList.toggle("caret-down");
			/*mother = this.parentElement.querySelector(".nested");
			if(mother.style.maxHeight)
			{
				mother.style.maxHeight = null;
			}
			else
			{
				mother.style.maxHeight = mother.scrollHeight +"px";
			}*
		});
	}*/
	

  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++)
  {
    coll[i].addEventListener("click", function()
    {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if(content.style.maxHeight)
      {
        content.style.maxHeight = null;
      }
      else
      {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
  </script>
</html>
